<div class="post-box-wrapper">
    <div class="post-box">
        <h2>Welcome to the admin page</h2>
        <p>From here, you can <%= link_to "reload the whole structure", action: "reload_structure" %></p>
    </div>
</div>
