<% section = Section.find(subsection.section_id) %>
<div class="card">
    <% if subsection.has_image? %>
        <div class="cover-image-wrapper">
            <% if subsection.image_name =~ /^https?:\/\// %>
                <img src="<%= subsection.image_name %>">
            <% else %>
                <%= image_tag(subsection.image_name) %>
            <% end %>
        </div>
    <% end %>
    <div class="content">
        <h2 class="title">
            <%= link_to subsection.name, section.slug + '/' + subsection.slug %>
        </h2>
        <p class="description"><%= subsection.description %></p>
    </div>
</div>
