<div class="subsection-box">
    <h2 class="title">
        <%= link_to subsection.name,
        Section.find(subsection.section_id).slug + '/' + subsection.slug %>
    </h2>
    <p class="description">Some short description of the subsection</p>
</div>
