<% @tags.each do |tag| %>
    <div class="post-box-wrapper">
        <div class="post-box">
            <h2><%= link_to tag.name, tag.link, class: "nocolor" %></h2>
            <% Post.joins(:tags).where(tags: {id: tag.id}).find_each do |post| %>
                <p><%= link_to post.printable_name.html_safe, post.link %></p>
            <% end %>
        </div>
    </div>
<% end %>
