<h2 class="section-subtitle">Posts by tag : <%= @tag.name %></h2>
<% @posts.each do |post| %>
    <%= render "shared/post_overview", post: post %>
<% end %>
<a class="nomargin" href="/tags"><h2 class="section-subtitle">All tags</h2></a>
