.markdown-body {
    color: #333;
    font-family: "Fjord One", serif;
    line-height: 1.5;
    word-wrap: break-word;

    a {
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
        color: #4078c0;
        text-decoration: none;
    }

    a:active,
    a:hover {
        outline-width: 0;
        text-decoration: underline;
    }

    a:not([href]) {
        color: inherit;
        text-decoration: none;
    }

    strong {
        font-weight: inherit;
        font-weight: bolder;
        font-weight: 600;
    }

/* --- TYPOGRAPHY --- */
    h1, h2, h3, h4, h5, h6 {
        margin-top: 1.6rem;
        margin-bottom: 1rem;
        font-weight: 600;
        line-height: 1.25;
    }

    h1 {
        margin: 0.67rem 0;
        padding-bottom: 0.3rem;
        font-size: 2.25rem;
        border-bottom: 1px solid #eee;
        text-align: center;
    }

    h2 {
        font-weight: 600;
        padding-bottom: 0.3rem;
        font-size: 2rem;
        border-bottom: 1px solid #eee;
        text-align: center;
    }

    h3 {
        font-weight: 600;
        font-size: 1.5rem;
        padding-top: 0.5rem;
        text-align: center;

        + h4 {
            margin-top: 1rem;
        }
    }

    h4 {
        font-weight: 600;
        font-size: 1.25rem;
    }

    h5 {
        font-weight: 600;
        font-size: 1rem;
    }

    h6 {
        font-weight: 600;
        font-size: 0.875rem;
        color: #777;
    }

    p {
        margin-top: 0;
        margin-bottom: .8rem;
        line-height: 1.75rem;
    }

/* --- SEPARATION MARKERS --- */
    hr {
        box-sizing: content-box;
        overflow: hidden;
        height: 0.25rem;
        padding: 0;
        margin: 1.6rem 0;
        background-color: #e7e7e7;
        border: 0;
    }

    hr::before {
        display: table;
        content: "";
    }

    hr::after {
        display: table;
        clear: both;
        content: "";
    }

/* --- IMAGES --- */
    img {
        border-style: none;
        max-width: 100%;
        box-sizing: content-box;
        background-color: #fff;
    }

/* --- BLOCKQUOTES AND CODE --- */
    code, kbd, pre {
        font-family: monospace, monospace;
        font-size: 1.2rem;
    }

    code {
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        padding: 0;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        margin: 0;
        font-size: 85%;
        background-color: rgba(0,0,0,0.04);
        border-radius: .1rem;
    }

    code::before,
    code::after {
        letter-spacing: -0.2rem;
        content: "\00a0";
    }

    pre {
        word-wrap: normal;
        padding: 1rem;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        background-color: #f7f7f7;
        border-radius: .1rem;
        margin-top: 0;
        margin-bottom: 0;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;

        code {
            display: inline;
            padding : 0;
            overflow: visible;
            line-height: inherit;
            word-wrap: normal;
            background-color: transparent;
            border: 0;
        }
    }
    pre code::before,
    pre code::after {
        content: normal;
    }

    pre>code {
        padding: 0;
        margin: 0;
        font-size: 100%;
        word-break: normal;
        white-space: pre;
        background: transparent;
        border: 0;
    }

    kbd {
        display: inline-block;
        padding: .1rem .15rem;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        line-height: .8rem;
        color: #555;
        vertical-align: middle;
        background-color: #fcfcfc;
        border: solid 1px #ccc;
        border-bottom-color: #bbb;
        border-radius: .1rem;
        box-shadow: inset 0 -1px 0 #bbb;
    }

    blockquote {
        margin: 0;
        padding: 0 1rem;
        color: #777;
        border-left: 0.25rem solid #ddd;
    }

    blockquote>:first-child {
        margin-top: 0;
    }

    blockquote>:last-child {
        margin-bottom: 0;
    }

    input {
        font: inherit;
        margin: 0;
        overflow: visible;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        font-feature-settings: "liga" 0;
    }

    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

    [type="checkbox"] {
        box-sizing: border-box;
        padding: 0;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
        display: block;
        width: 100%;
        overflow: auto;
        word-break: normal;
        word-break: keep-all;

        th {
            font-weight: bold;
        }

        th,
        td {
            padding: 0;
            border: 1px solid #ddd;
        }

        tr {
            background-color: #fff;
            border-top: 1px solid #ccc;
        }

        tr:nth-child(2n) {
            background-color: #f8f8f8;
        }
    }

    dl {
        padding: 0;

        dt {
            padding: 0;
            margin-top: 1rem;
            font-size: 1rem;
            font-style: italic;
            font-weight: bold;
        }

        dd {
            padding: 0 1rem;
            margin-bottom: 1rem;
        }
    }

    dd {
        margin-left: 0;
    }

    ul, ol {
        padding-left: 2rem;
        margin-top: 0;
        margin-bottom: 0;

        ol {
            list-style-type: lower-roman;
        }

        ul, ol {
            margin-top: 0;
            margin-bottom: 0;

            ul, ol {
                list-style-type: lower-alpha;
            }
        }
    }

    p, blockquote, ul, ol, dl, table, pre {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    li>p {
        margin-top: 1rem
    }

    li+li {
        margin-top: 0.25rem;
    }

    * {
        box-sizing: border-box;
    }

    :checked+.radio-label {
        position: relative;
        z-index: 1;
        border-color: #4078c0;
    }
}

.markdown-body::before {
  display: table;
  content: "";
}

.markdown-body::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body>*:first-child {
  margin-top: 0 !important;
}

.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}
